# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.vscode/ 
*.db 

# Environment variables
.env
.flaskenv

# Uploaded files
/uploads/

# IDE specific files
.idea/ # IntelliJ IDEA
*.iml # IntelliJ IDEA
.DS_Store # macOSs
node_modules
